.events {
    list-style: none;
    margin: 0;
    padding: 0;

    .ant-badge-status {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 12px;
    }

    div {
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }
}

.notes-month {
    text-align: center;
    font-size: 28px;

    section {
        font-size: 28px;
    }
}

.todo-calendar {
    &__list-container {

        &-todos {
            height: 230px;
            overflow: scroll;
        }
    }

    &__drawer-description {
        height: 10rem;
        width: 21rem;
        padding: 1.2rem;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        margin-top: .5rem;
        color: #8c8c8c;
    }
    &__drawer-checkbox {
        width: 21rem;
        margin-top: 2rem;
    }
}

.drawer-notes {
    font-size: 1.3rem;
    color: #bfbfbf;
    margin-left: .5rem;
}

.ant-modal {
    width: 400px !important;

    &-content {
    overflow: hidden;

    }
    &-body {
        padding: 10px 0 20px 0; 
    }
    &-header {
        border-bottom: none;
        padding: 30px 24px 0 50px;
        font-weight: 100;
    }
    &-title {
        font-weight: 300;
        font-size: 17px;
    }
}

.ant-drawer-header {
    border-bottom: none;
}

.ant-badge {
    &-status-dot {
        height: 8px;
        width: 8px;
    }

    &-status-text {
        font-size: 1.4rem;
    }
}

.ant-fullcalendar-fullscreen .ant-fullcalendar-value {
    font-size: 17px;
    font-weight: 100;
}

.ant-fullcalendar-column-header .ant-fullcalendar-column-header-inner {
    font-size: 17px;
    font-weight: 100;
}

.ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day {
    .ant-fullcalendar-date {
    background: rgba(246, 247, 249, 0.5);
    }

    // .ant-fullcalendar-value {
    //     color: rgba(60, 79, 235, 1);
    // }

}
.ant-fullcalendar-fullscreen .ant-fullcalendar-date:hover {
    background: rgba(246, 247, 249, 0.5);
}

// .ant-fullcalendar-fullscreen .ant-fullcalendar-fullscreen .ant-fullcalendar-today .ant-fullcalendar-date {
//     border-top-color: rgba(60, 79, 235, 1); 
// }