.radio-tag {
    .ant-radio {
        margin: 0 1rem;
    }

    &-success .ant-radio .ant-radio-inner {
        border-color: #66c7c7; 
        &::after {
            background-color: #66c7c7;
        }
    }

    &-warning .ant-radio .ant-radio-inner {
        border-color: #6b60c8; 
        &::after {
            background-color: #6b60c8;
        }
    }

    &-error .ant-radio .ant-radio-inner {
        border-color: #e5605a; 
        &::after {
            background-color: #e5605a;
        }
    }
}

.ant-form-item {
    margin-bottom: 0;
}

.form-button {
    float: right;
}