.main {
    &__sider {
        overflow: 'auto';
        height: '100vh';
        position: 'fixed';
        left: 0;
    }

    &__layout {
        padding: 5rem 5rem 1.2rem 5rem; 
        height: 100vh; 
    }

    &__content {

        &-container {
            background: #fff;
            padding: 2.4rem;
            height: 100%;
        }
    }

    &__footer {
        text-align: center;
    }
}