/* this allows us to start clean */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* set root size so i can use rem */
/* use 62.5% based on user's default font size (usually 16px), 62.5% of 16 is 10 */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.auth {
  height: 100vh;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  text-align: center; }
  .auth__header {
    font-size: 6rem;
    font-weight: 600;
    margin: 7rem auto 4rem auto; }
  .auth-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100vh; }

.events {
  list-style: none;
  margin: 0;
  padding: 0; }
  .events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px; }

.notes-month {
  text-align: center;
  font-size: 28px; }
  .notes-month section {
    font-size: 28px; }

.todo-calendar__list-container-todos {
  height: 230px;
  overflow: scroll; }

.todo-calendar__drawer-description {
  height: 10rem;
  width: 21rem;
  padding: 1.2rem;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-top: .5rem;
  color: #8c8c8c; }

.todo-calendar__drawer-checkbox {
  width: 21rem;
  margin-top: 2rem; }

.drawer-notes {
  font-size: 1.3rem;
  color: #bfbfbf;
  margin-left: .5rem; }

.ant-modal {
  width: 400px !important; }
  .ant-modal-content {
    overflow: hidden; }
  .ant-modal-body {
    padding: 24px 0; }

.ant-badge-status-dot {
  height: 8px;
  width: 8px; }

.ant-badge-status-text {
  font-size: 1.4rem; }

.todo-item {
  display: block;
  height: 4rem;
  width: 30rem;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 5px;
  text-align: left;
  cursor: pointer; }
  .todo-item .ant-badge-status-text {
    margin-left: 2rem; }
  .todo-item:last-child {
    margin-bottom: 5rem; }
  .todo-item--complete .ant-badge-status-text {
    color: #bfbfbf; }
  .todo-item-checkbox {
    float: right;
    z-index: 9999; }

.ant-drawer-title .ant-badge-status-text {
  margin-left: 2rem;
  font-size: 1.5rem; }

.ant-drawer-body {
  padding: 1rem 2.4rem; }

.pending {
  border: 1px solid #e8e8e8; }

.add-item {
  text-align: center;
  margin-bottom: 4rem; }
  .add-item-break {
    width: 30rem;
    text-align: center;
    font-size: 2rem;
    color: #bfbfbf; }

.completed {
  position: relative;
  width: 30rem;
  border: 1px solid #e8e8e8; }
  .completed:first-child {
    margin-top: 4rem; }
    .completed:first-child:before {
      content: '';
      position: absolute;
      background-color: #e8e8e8;
      height: 1px;
      width: 35%;
      top: -2rem;
      left: 9.7rem; }

.radio-tag-success .ant-radio .ant-radio-inner {
  border-color: #52c41a; }
  .radio-tag-success .ant-radio .ant-radio-inner::after {
    background-color: #52c41a; }

.radio-tag-warning .ant-radio .ant-radio-inner {
  border-color: #faad14; }
  .radio-tag-warning .ant-radio .ant-radio-inner::after {
    background-color: #faad14; }

.radio-tag-error .ant-radio .ant-radio-inner {
  border-color: #f5222d; }
  .radio-tag-error .ant-radio .ant-radio-inner::after {
    background-color: #f5222d; }

.ant-form-item {
  margin-bottom: 0; }

.form-button {
  float: right; }

.nav__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7rem auto 7rem auto; }
  .nav__user-dp {
    display: block;
    height: 70px;
    width: 70px;
    border: 1px solid #eee;
    border-radius: 50%;
    margin-bottom: 3.2rem;
    overflow: hidden; }
    .nav__user-dp-img {
      height: 100%;
      background-size: cover; }
  .nav__user-name {
    display: block;
    text-align: center;
    font-size: 1.5rem; }

.nav__menu {
  width: 256; }

.tag-edit {
  float: right;
  margin-top: 1.4rem; }

.main__sider {
  overflow: 'auto';
  height: '100vh';
  position: 'fixed';
  left: 0; }

.main__layout {
  padding: 5rem 5rem 1.2rem 5rem;
  height: 100vh; }

.main__content-container {
  background: #fff;
  padding: 2.4rem;
  height: 100%; }

.main__footer {
  text-align: center; }
